ul.interests {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    list-style-position: inside;
    /* list-style-type: none; */
  }
/* li.interests {  border: solid 1px; } */
  